@import 'setting.scss';
@import 'grid.scss';
@import 'typo.scss';
@import 'fill.scss';

html, body {
    height: 100%;
    background-color: white;
}

body {
    position: relative;
    top: 0;
    min-height: 600px;
    min-width: 400px;
}

$mainblue: blue;

header {
    @include fill(false, "uf");
    margin: 1.5rem 1.5rem;
    a {
        margin: 0 0.5em;
        text-decoration: underline;
        color: black;
        &:hover {
            color: $mainblue
        }
    }
    .menu {
        background-color: $mainblue;
        color: white;
        padding: 0.25em;
    }
}

main {
    .v-center {
        @include fill(false, "cf", 191, 0);
        top: 15%;
    }
    .logo{
        width: 270px;
        margin: 50px auto;
        .logo-image {
            width: 270px;
            height: 129px;
            background-color: $mainblue;
        }
    }
    .search {
        width: 640px;
        margin: 0 auto;
        position: relative;
        top: 0;
        .icon-image {
            background: #fff url("https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/soutu/img/camera_new_679c15cc.png") no-repeat scroll 0 0;
            height: 16px;
            width: 18px;
            position: absolute;
            top: 50%;
            right: 100px;
            margin-top: -8px;
            margin-right: 5px;
            &:hover {
                background-position: 0 -20px;
            }
        }
    }
    .search-box {
        display: inline-block;
        border: 1px solid $mainblue;
        border-right: none;
        width: 540px;
        height: 2em;
        box-sizing: border-box;
    }
    .search-btn {
        float: right;
        display: inline-block;
        width: 100px;
        height: 2em;
        border: none;
        color: white;
        background-color: $mainblue;
        box-sizing: border-box;
    }


}

footer {
    @include fill(false, "bf");
    margin: 1.5rem;
    .qr-code {
        width: 60px;
        height: 60px;
        margin: 10px;
        background-image: url("https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/home/img/qrcode/zbios_62c636fe.png");
        float: left;
    }
    .qr-text {
        margin: 20px 0;
        font-size: 12px;
        line-height: 1.5em;
    }
    
    .center {
        margin: 0 auto;
        width: 600px;
    }
    .icrlogo{
        display: inline-block;
        height: 17px;
        width: 14px;
        background-color: gray;
    }
    .small2{
        margin: 10px 0;
        font-size: 12px;
        line-height: 17px;
        color: gray;
    }
}
